$white: #fff;
$grey: rgb(100, 100, 100);
$light-grey: rgb(238, 238, 238);
$black: #000;
$bg-color: rgb(223, 223, 223);
$green: rgb(0, 200, 0);
$dark-green: rgb(2, 134, 2);
$cookies-bg: rgba(71, 116, 81, 0.95);